services:
  backend:
    build: .
    volumes:
      - .:/app
    ports:
      - 8000:8000
      - 8001:8001
    env_file:
      - .env
    environment:
      - PAYPAL_CLIENT_ID=${PAYPAL_CLIENT_ID}
      - PAYPAL_CLIENT_SECRET=${PAYPAL_CLIENT_SECRET}
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: ambassador
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - 3309:5432
    volumes:
      - .dbdata:/var/lib/postgresql/data
    healthcheck:
     test: ["CMD-SHELL", "pg_isready -U root -d ambassador"]
     interval: 30s
     timeout: 10s
     retries: 5
     start_period: 30s

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - 5050:80
    depends_on:
      - db

  redis:
    image: redis
    ports:
      - 6379:6379